/* Add these styles to your existing styles or create a new CSS file */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 12px;
    /* padding: 10px; */
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .pagination li a {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
  }
  
  .pagination li.active a {
    background-color: #007bff;
    color: #fff;
    cursor: default;
  }
  
  .pagination li a:hover {
    background-color: #eee;
  }
  